.card {
  display: grid;
  text-align: center;
  gap: 1.5rem 4rem;
}

.copy {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.CTAButton {
  background: hsl(var(--clr-blue));
  border-radius: var(--border-radius);
  border: 0;
  box-shadow: var(--shadow);
  padding: 1.5rem 4rem;
  font-weight: 400;
  font-size: 0.95rem;
  transition: box-shadow 75ms linear, outline-color 75ms linear, top 75ms linear;
  position: relative;
  top: 0px;
  user-select: none;
  text-align: center;
  height: fit-content;
}

.CTAButton:active {
  box-shadow: 0 4px 0 #0002;
  top: 5px;
}

.CTAButton:focus {
  outline: 3px solid white;
}

.text_body {
  font-weight: 500;
  line-height: 1.75;
}

.buttonspan {
  font-weight: 700;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 701px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    text-align: left;
  }

  .copy {
    grid-row: 1 / -1;
    place-self: center;
  }

  .card > :not(.copy) {
    grid-column: 2;
  }

  .CTAButton {
    padding: 1rem 4rem;
  }
}
